
 <h2>Login</h2>
 <br>
<%= form_for @user, url: '/sessions', method: 'post' do |f| %>
  <label for="email">Vagabond Email Address:
    <%= f.email_field :email %>
  </label>
  <label for="email">Password:
    <%= f.password_field :password %>
  </label>
  <%= f.submit " Login to Vagabond! "%>
<% end %>
