<div class="container amber lighten-3 our-form">
  <h2>Edit My Article</h2>
  <%= form_for @article do |f| %>
    <%= f.text_field :title, placeholder: " Title " %>
    <%= f.text_area :body, placeholder: " Content " %>
    <%= f.submit " Save My Changes! " %>
  <% end %>
</div>