<div class="container">
  Articles by <%= @user.first_name %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= article.title %> by <%= @user.first_name %> </li>
      <p><%= article.body %></p>
    <% end %>
  </ul>
</div>
