<div class="container">
  Articles by <%= @user.first_name %>
  <ul>
    <% @articles.each do |article| %>
      <li>Title: <%= link_to article.title, article_path(article) %></li><br>
      <li>Content: <%= article.body.truncate(20, separator: /\s/) %></li><br>
    <% end %>
  </ul>
</div>
