<div class = "container">
<img class="world-map" src="/assets/princess_world_map.png" />

</div>

<div class="container">
  <h2>Attainable Destinations :</h2>

  <% @cities.each do |city|  %>
    <div class="row panel">
      ★ <%= link_to "#{city.name}, #{city.country}", city_path(city) %>
    </div>
  <% end %>
</div>
