<div class="container">
  <h2><%= @city.city_name %>, <%= @city.country %></h2>

<p>THIS IS THE BELLE-ROUSEL!</p>

  <%= link_to "new article", new_article_path %>

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Belle_disney.png"></a>
  </div>

  <span class="back-btn"><%= link_to "back", cities_path %></span>
</div>
