/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: lemonchiffon;
}


li {
  text-decoration: none;
  display: inline;
}


footer p {
  /*background-color: gold;*/
  font-family: 'Princess Sofia', sans-serif;
  font-size: 25px;
  height: 1.4em;
  text-align: center;
}

.city-pic {
  width: 100px;
}

.flash-msg, .back-btn, .new-article, .profile-link, .article-link {
  font-family: sans-serif;
  font-size: 30px;
  color: dodgerblue;
}

.article-link {
  float: right;
}

.headline {
  color: Magenta;
  font-size: 6em;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  text-shadow: 1px 1px lemonchiffon;
  display: block;
  margin-bottom; 10px;
  line-height: normal;
}

.city-info {
  padding-left: 10px;
}

.our-form {
  padding: 10px;
  border-radius: 15px;
}

.new-article-text {
  height: 200px;
}

.article-title {
  color: limegreen;
  font-weight: bolder;
}

.tagline {
  font-family: 'Sacramento', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  display: block;
  text-shadow: 1px 1px lemonchiffon;
}

.carousel {
  width:640px;
  height:360px;
  margin-top: -90px;
}

.card-image {
  width: 200px;
}

.card {
  padding: 5px;
}

.navigation {
  height: 50px;
}

.nav-link {
  /*margin-left: 50px;*/
  padding: 15px;
  text-align: left;
  float: left;
}

.login-logout {
  float: right;
}

.user-info-key {
  color: black;
  font-weight: bolder;
}

.highlight-name {
  text-shadow : 1px 2px dodgerblue;
}

.world-map {
  display: block;
  margin: auto;
  border-radius: 15%;
  width: 50%;
}

.big-city-pic {
  display: block;
  margin: auto;
}
