/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: gold;
}


h2 {
  font-family: 'Sacramento', sans-serif;
  font-size: 50px;
}

li {
  text-decoration: none;
  display: inline;
}

footer p {
  background-color: goldenrod;
  font-family: 'Princess Sofia', sans-serif;
  font-size: 45px;
  height: 1.4em;
  text-align: center;
}


.flash-msg, .back-btn, .new-article, .edit-profile, .article-link {
  font-family: 'Princess Sofia', sans-serif;
  font-size: 45px;
  color: dodgerblue;
  text-shadow: 1px 2px black;
}

.article-link {
  float: right;
}

.edit-profile {
  font-size: 35px;
}

.headline {
  color: Magenta;
  font-size: 5em;
  font-family: 'Fredericka the Great', sans-serif;
  text-align: center;
  text-shadow: 1px 1px lemonchiffon;
  display: block;
}

.tagline {
  font-family: 'Bilbo', sans-serif;
  font-size: 35px;
  margin-top: -40px;
  text-align: center;
  display: block;
  text-shadow: 1px 1px lemonchiffon;
}

.panel {
  font-size: 25px;
  max-width: 80%;
  background-color: lemonchiffon;
  border-radius: 25px;
  padding: 5px;
}

.navigation {
  background-color: lemonchiffon;
  height: 50px;
}

.nav-link {
  margin-left: 50px;
  padding-top: 15px;
}

.user-info {
  color: salmon;
  font-family: 'Bilbo', sans-serif;
  font-size: 45px;
  text-shadow: 1px 1px lemonchiffon;
}

.user-info .user-info-key {
  color: black;
}

.highlight-name {
  text-shadow : 1px 2px dodgerblue;
}
